    <header>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap; height: 60px;">
                <h1 style="color: antiquewhite; margin-left: 5px;"><a href="/storepage" style="text-decoration: none; color: white;">Perspective Bookstore</a></h1>
                <button mat-raised-button style="display: flex; margin-left: auto; margin-right: 10px; background-color: white !important;"><a href="/cart">View Cart</a></button>
                <div *ngIf="username"><button mat-raised-button style="display: flex; margin-right: 10px; background-color: white !important;" (click)="noUser()"><a href="/storepage">Logout</a></button></div>
                <div *ngIf="!username"><button mat-raised-button style="display: flex; margin-right: 10px; background-color: white !important;"><a href="">Login</a></button></div>
            </nav>
        </div>
    </header>
    <main class="container" style="max-width: 100% !important;">
        <!-- Home Page -->
        <section id="home">
            <div *ngIf="username"><h2 style="margin-top: 5px; margin-bottom: 5px; margin-left: 5px;">Welcome to your favorite Bookstore {{username}}!</h2></div>
            <div *ngIf="!username"><h2 style="margin-top: 5px; margin-bottom: 5px; margin-left: 5px;">Login to Personalize your Shopping Experience!</h2></div>
            <!-- Featured books or promotions -->
            <div class="book-list">
                <!-- Book cards go here -->
            </div>
        </section>

    <section id="book-listing">
        <div class="book-grid">
            <!-- <div class="book-card" style="position: relative; height: 420px;" *ngFor="let item of searchData | slice:prevVal:nextVal; index as i" > -->
                <div class="book-card" style="position: relative; height: 420px;" *ngFor="let item of searchData | paginate: { itemsPerPage: count, currentPage: p }" >
                <img src={{item.thumbnailUrl}} alt="Book Img">
                <h3>{{item.title}}</h3>
                <p>Author: {{item.authors[0]}}</p>
                <div><p style="position: absolute; bottom: 45px; left: 0; right: 0;" id="price">Price: $<span style="font-weight: 600;">{{item.price}}</span></p></div>
                <div style="left: 0; right: 0;position: absolute; bottom: 10px;" (click)="updateCartList(item)"><button mat-raised-button>Add to Cart</button></div>
            </div>
    
        </div>
    </section>


    </main>

    <footer>
        <div class="container" style="position: relative;">
            <p style="display: inline-block; margin-top: 20px;">&copy; 2023 Perspective Bookstore</p>
            <div style="position: relative; bottom: 30px; right: -190px;"><pagination-controls style="display: block; float: right;" (pageChange)="p = $event"></pagination-controls></div>
            
        </div>
    </footer>